@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
.custom-block__products-grid .button__view-more {
  margin-top: 50px;
  display: none;
}
.custom-block__products-grid.__loadmore-completed .button__view-more {
  display: inline-block;
}
.custom-block__products-grid .featured-collection__content[data-layout=grid] {
  flex-wrap: wrap !important;
}
@media (max-width: 1079px) {
  .custom-block__products-grid .featured-collection__content[data-layout=grid] {
    margin: 0 -15px 0 -15px;
  }
  .custom-block__products-grid .featured-collection__content[data-layout=grid] .productgrid--item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-right: 0;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .custom-block__products-grid .featured-collection__content[data-layout=grid] {
    margin: 0;
  }
  .custom-block__products-grid .featured-collection__content[data-layout=grid] .productgrid--item {
    width: 33.3333333333%;
  }
}
@media (max-width: 533px) {
  .custom-block__products-grid .featured-collection__content[data-layout=grid] .productgrid--item {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .custom-block__products-grid .featured-collection__content[data-layout=grid] .productgrid--item {
    width: 100%;
  }
}
.custom-block__products-grid .productgrid--item__ .productitem--actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  z-index: 999;
  transform: translateY(33%);
  -webkit-transform: translateY(33%);
  background: white;
  padding: 0 12px 12px 12px;
  box-shadow: 1px 1px 0 0 #eee, -1px 1px 0 0 #eee;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.custom-block__products-grid .productgrid--item__:hover {
  z-index: 99;
}
.custom-block__products-grid .productgrid--item__:hover .productitem--actions {
  visibility: visible;
  opacity: 1;
  transform: translateY(66%);
  -webkit-transform: translateY(66%);
}

.loadmore-text {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.productgrid--sidebar-button {
  background-color: #ffc40c;
  padding: 8px 8px 5px 15px;
  border-radius: 5px;
}

.cart-sidebar-item--text h5 {
  font-size: 13.5px !important;
  background-color: #ffc40c;
  padding: 5px 15px;
  border-radius: 5px;
}

.site-footer-item--information .site-footer__row--first {
  border-top: 1px solid #FFF;
}

.quickshop-button {
  display: none;
}

.slideshow--height-small .slideshow-slide__image,
.slideshow--height-medium .slideshow-slide__image,
.slideshow--height-large .slideshow-slide__image,
.slideshow--height-adapt .slideshow-slide__image,
.slideshow--height-fit_screen .slideshow-slide__image {
  -o-object-fit: initial !important;
     object-fit: initial !important;
}

.product__badge--label,
.productitem__badge--label,
.hotspot__badge--label {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  color: #fff;
  background-color: #fac20f;
}

.productitem__badge--label {
  margin-top: 10px;
  color: #000;
  background-color: #fac20f;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

body.template-product .product-details .product-pricing .product__badge--label {
  display: none;
}

.product--outer .product-gallery .product__badge--label {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  height: auto;
}

.site-navigation .navmenu-link-depth-1,
.site-navigation .site-header-account-link a {
  padding: 0.5em;
  color: white;
}

.site-navigation .navmenu-depth-1 > li:not(:last-child) {
  margin-right: 0.5em;
}

.mobile-nav-content .navmenu-depth-1 > .navmenu-item > .navmenu-link,
.mobile-nav-primary-content .navmenu-depth-1 > .navmenu-item > .navmenu-link,
.navmenu-meganav.navmenu-meganav--desktop .navmenu-item-text,
.site-navigation .navmenu-depth-1 > li > a,
.site-navigation a,
.site-navigation summary,
.site-header-actions {
  font-size: 0.9em;
}

.site-navigation-wrapper,
.site-navigation {
  background: #4c71ab !important;
}

.custom-block__banner-otb {
  position: relative;
  height: 380px;
  padding: 0;
  overflow: hidden;
  margin-top: 3em;
}
.custom-block__banner-otb .custom-block__banner-otb-background-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.custom-block__banner-otb .custom-block__banner-otb-entry {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.custom-block__banner-otb .block-item__people {
  position: absolute;
  bottom: 0;
  left: 1.5%;
  line-height: 0;
  width: 25%;
}
.custom-block__banner-otb .block-item__people img {
  width: 100%;
  margin: 0;
}
.custom-block__banner-otb .block-item__feature-list {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
  list-style: normal;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item .__icon {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
  text-align: center;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item .__icon img {
  width: 100%;
  margin: 0;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item .__text-1,
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item .__text-2 {
  color: white;
  margin-right: 8px;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item .__text-2 {
  text-transform: uppercase;
}
.custom-block__banner-otb .block-item__feature-list .block-item__feature-list-item:nth-child(3) .__icon img {
  width: 60%;
}
.custom-block__banner-otb .block-item__product-items {
  position: absolute;
  right: 1.5%;
  bottom: 3%;
  width: 25%;
}
.custom-block__banner-otb .block-item__product-items img {
  width: 100%;
}
.custom-block__banner-otb .block-item__heading {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.custom-block__banner-otb .block-item__heading img {
  max-width: 30vw;
}
.custom-block__banner-otb .block-item__heading .__text {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
  min-width: 244px;
}
@media (max-width: 768px) {
  .custom-block__banner-otb .block-item__people {
    width: 52%;
    left: -8%;
  }
  .custom-block__banner-otb .block-item__heading {
    left: 38%;
    transform: none;
    width: 55%;
    flex-wrap: wrap;
  }
  .custom-block__banner-otb .block-item__heading .__text {
    width: auto;
    font-size: 1em;
    min-width: auto;
  }
  .custom-block__banner-otb .block-item__heading img {
    height: 40px;
  }
  .custom-block__banner-otb .block-item__feature-list {
    transform: none;
    top: 32%;
    left: 42%;
    z-index: 3;
  }
  .custom-block__banner-otb .block-item__product-items {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
  }
}
@media (max-width: 565px) {
  .custom-block__banner-otb .block-item__heading {
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    justify-content: center;
  }
  .custom-block__banner-otb .block-item__product-items {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32%;
  }
}
@media (max-width: 425px) {
  .custom-block__banner-otb .block-item__people {
    width: 71%;
    left: -18%;
  }
  .custom-block__banner-otb .block-item__heading {
    width: calc(100% - 30px);
  }
  .custom-block__banner-otb .block-item__heading img {
    height: 36px;
  }
  .custom-block__banner-otb .block-item__feature-list {
    font-size: 1.1em;
  }
  .custom-block__banner-otb .block-item__feature-list .__icon {
    width: 32px;
  }
  .custom-block__banner-otb .block-item__product-items {
    width: 42%;
  }
}
@media (max-width: 320px) {
  .custom-block__banner-otb .block-item__people {
    width: 98%;
    left: -42%;
  }
  .custom-block__banner-otb .block-item__feature-list {
    left: 40%;
    font-size: 0.9em;
  }
  .custom-block__banner-otb .block-item__feature-list .__icon {
    width: 31px !important;
  }
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.custom-block__banner-otb2 {
  position: relative;
  height: 380px;
  padding: 0;
  overflow: hidden;
  margin-top: 3em;
}
.custom-block__banner-otb2 .custom-block__banner-otb2-background-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.custom-block__banner-otb2 .custom-block__banner-otb2-entry {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.custom-block__banner-otb2 .block-item__heading {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.custom-block__banner-otb2 .block-item__heading img {
  max-width: 30vw;
}
.custom-block__banner-otb2 .block-item__heading .__text {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
  min-width: 244px;
}
.custom-block__banner-otb2 .block-item__people {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  line-height: 0;
  width: 350px;
}
@media (max-width: 1231px) {
  .custom-block__banner-otb2 .block-item__people {
    right: 0.5%;
  }
}
@media (max-width: 1175px) {
  .custom-block__banner-otb2 .block-item__people {
    right: -2.5%;
  }
}
@media (max-width: 1014px) {
  .custom-block__banner-otb2 .block-item__people {
    right: auto;
    left: 73%;
  }
}
.custom-block__banner-otb2 .block-item__people img {
  width: 100%;
  margin: 0;
}
.custom-block__banner-otb2 .block-item__product-items {
  position: absolute;
  left: 3%;
  bottom: 3%;
  width: 22%;
}
.custom-block__banner-otb2 .block-item__product-items img {
  width: 100%;
  margin: 0;
}
.custom-block__banner-otb2 .block-item__feature-list {
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translateX(-50%);
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
}
.custom-block__banner-otb2 .block-item__feature-list .vertical-text {
  position: absolute;
  left: -31%;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transform: translateY(-50%) rotate(-90deg);
  top: 103%;
  font-size: 2.3em;
  color: #fff;
  transform-origin: top left;
}
.custom-block__banner-otb2 .block-item__feature-list .block-item__feature-list-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: white;
}
.custom-block__banner-otb2 .block-item__feature-list .block-item__feature-list-item .__icon {
  display: inline-block;
  width: 40px;
  margin-left: 10px;
  text-align: center;
}
.custom-block__banner-otb2 .block-item__feature-list .block-item__feature-list-item .__icon img {
  width: 100%;
  margin: 0;
}
.custom-block__banner-otb2 .block-item__feature-list .block-item__feature-list-item:last-child .__icon img {
  width: 60%;
}
@media (max-width: 973px) {
  .custom-block__banner-otb2 .block-item__heading {
    transform: none;
    left: 4%;
    width: 75%;
  }
  .custom-block__banner-otb2 .block-item__heading .__text {
    font-size: 1em;
    min-width: auto;
  }
  .custom-block__banner-otb2 .block-item__heading img:first-child {
    width: 20%;
  }
  .custom-block__banner-otb2 .block-item__heading img:last-child {
    width: 30%;
  }
}
@media (max-width: 884px) {
  .custom-block__banner-otb2 .block-item__people {
    right: auto;
    left: 69%;
    width: 392px;
  }
}
@media (max-width: 697px) {
  .custom-block__banner-otb2 .block-item__people {
    left: 63%;
  }
  .custom-block__banner-otb2 .block-item__feature-list {
    bottom: 30%;
  }
  .custom-block__banner-otb2 .block-item__product-items {
    width: 32%;
  }
}
@media (max-width: 518px) {
  .custom-block__banner-otb2 .block-item__people {
    left: 53%;
    width: 326px;
  }
  .custom-block__banner-otb2 .block-item__heading {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    justify-content: center;
    z-index: 5;
  }
  .custom-block__banner-otb2 .block-item__heading img {
    width: auto !important;
    height: 36px;
  }
  .custom-block__banner-otb2 .block-item__feature-list .__text {
    white-space: nowrap;
    font-size: 0.8em;
  }
  .custom-block__banner-otb2 .block-item__feature-list .__icon {
    width: 29px;
  }
}

.custom-block__banner-otb3 {
  position: relative;
  height: 380px;
  padding: 0;
  overflow: hidden;
  margin-top: 3em;
}
.custom-block__banner-otb3 .custom-block__banner-otb3-background-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 884px) {
  .custom-block__banner-otb3 .custom-block__banner-otb3-background-layer {
    background-image: none !important;
  }
}
.custom-block__banner-otb3 .custom-block__banner-otb3-entry {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.custom-block__banner-otb3 .block-item__heading {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.custom-block__banner-otb3 .block-item__heading img {
  max-width: 30vw;
}
@media (max-width: 768px) {
  .custom-block__banner-otb3 .block-item__heading img {
    height: 40px;
  }
}
.custom-block__banner-otb3 .block-item__heading .__text {
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
  min-width: 244px;
}
@media (max-width: 768px) {
  .custom-block__banner-otb3 .block-item__heading .__text {
    font-size: 1em;
    min-width: 113px;
  }
}
.custom-block__banner-otb3 .block-item__product-items {
  position: absolute;
  right: 3%;
  bottom: 0;
}
@media (max-width: 768px) {
  .custom-block__banner-otb3 .block-item__product-items {
    left: 75%;
  }
}
.custom-block__banner-otb3 .block-item__people {
  position: absolute;
  left: 2%;
  bottom: 0;
  line-height: 0;
  width: 250px;
}
.custom-block__banner-otb3 .block-item__people img {
  width: 100%;
  margin: 0;
}
@media (max-width: 768px) {
  .custom-block__banner-otb3 .block-item__people {
    right: 75%;
  }
}
@media (max-width: 425px) {
  .custom-block__banner-otb3 .block-item__people {
    right: 70% !important;
  }
}
@media (max-width: 425px) {
  .custom-block__banner-otb3 .block-item__feature-list {
    top: 59% !important;
  }
}
.custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  line-height: 1.7em;
  width: 130px;
}
.custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item .__icon img {
  margin: 0;
}
.custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(1) {
  position: absolute;
  left: 22%;
  top: 45%;
  color: white;
}
.custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(2) {
  position: absolute;
  left: 45.8%;
  transform: translate(-50%);
  bottom: 5%;
  color: #fff;
  flex-direction: column-reverse;
}
.custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(3) {
  position: absolute;
  left: 57.8%;
  top: 38%;
  color: white;
}
@media (max-width: 661px) {
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item {
    width: 100px;
    font-size: 1.2em;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item .__icon img {
    height: 32px;
  }
}
@media (max-width: 1024px) {
  .custom-block__banner-otb3 .block-item__people {
    left: auto;
    right: 80%;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(1) {
    left: 15%;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(2) {
    left: 44.8%;
  }
  .custom-block__banner-otb3 .block-item__product-items {
    right: auto;
    left: 80%;
  }
}
@media (max-width: 884px) {
  .custom-block__banner-otb3 .block-item__feature-list {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item {
    position: initial !important;
    left: auto !important;
    right: auto !important;
    transform: none !important;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item .__icon img {
    height: 40px;
    width: auto;
  }
  .custom-block__banner-otb3 .block-item__feature-list .block-item__feature-list-item:nth-child(2) {
    flex-direction: column;
  }
}
