.custom-block__products-grid {

  .button__view-more {
    margin-top: 50px;
    display: none;
  }

  &.__loadmore-completed {

    .button__view-more {
      display: inline-block;
    }
  }

  .featured-collection__content[data-layout=grid] {
    flex-wrap: wrap !important;

    @media(max-width: 1079px) {
      margin: 0 -15px 0 -15px;

      .productgrid--item {
        width: calc(100% / 4);
        padding: 0 15px;
        margin-bottom: 30px;
        margin-right: 0;
        box-sizing: border-box;
      }
    }

    @media(max-width: 768px) {
      margin: 0;

      .productgrid--item {
        width: calc(100% / 3);
      }
    }

    @media(max-width: 533px) {

      .productgrid--item {
        width: calc(100% / 2);
      }
    }

    @media(max-width: 320px) {

      .productgrid--item {
        width: calc(100% / 1);
      }
    } 
  }

  .productgrid--item__ {

    .productitem--actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      margin: 0;
      z-index: 999;
      transform: translateY(33%);
      -webkit-transform: translateY(33%);
      background: white;
      padding: 0 12px 12px 12px;
      box-shadow: 1px 1px 0 0 #eee, -1px 1px 0 0 #eee;
      transition: .3s ease;
      -webkit-transition: .3s ease;
    }

    &:hover {
      z-index: 99;

      .productitem--actions {
        visibility: visible;
        opacity: 1;
        transform: translateY(66%);
        -webkit-transform: translateY(66%);
      }
    }
  }

  
} 

.loadmore-text {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.productgrid--sidebar-button {
  background-color: #ffc40c;
  padding: 8px 8px 5px 15px;
  border-radius: 5px;
}

.cart-sidebar-item--text h5 {
  font-size: 13.5px!important;
  background-color: #ffc40c;
  padding: 5px 15px;
  border-radius: 5px;
}

.site-footer-item--information .site-footer__row--first {
  border-top: 1px solid #FFF;
}

.quickshop-button {
  display: none;
}

.slideshow--height-small .slideshow-slide__image, 
.slideshow--height-medium .slideshow-slide__image, 
.slideshow--height-large .slideshow-slide__image, 
.slideshow--height-adapt .slideshow-slide__image, 
.slideshow--height-fit_screen .slideshow-slide__image {
  object-fit: initial !important; 
}

.product__badge--label,
.productitem__badge--label,
.hotspot__badge--label {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  color: #fff;
  background-color: #fac20f;
}

.productitem__badge--label {
  margin-top: 10px;
  color: #000;
  background-color: #fac20f;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}